body {
  margin-top: 20px;
}

header {
  position: relative;
  margin: 7px 0 0 10px;
  display: block;
  font-size: 13px;
}

.links {
  text-decoration: none;
  color: black;
  opacity: 0.75;
  font-family: arial, sans-serif;
  display: inline-block;
  padding-left: 15px;
}

.links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
  padding-right: 15px;
}

button {
  margin-left: 15px;
  background-color: #4683ee;
  padding: 10px 12px 10px 12px;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.center {
  padding-top: 100px;
}

.logo {
  height: 170px;
  line-height: 200px;
  text-align: center;
}

img {
  padding-top: 47px;
  max-width: 100%;
}

form {
  text-align: center;
}

.searchBar {
  width: 460px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-radius: 50px;
}

.searchBar:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.searchButton {
  background-color: #f6f6f6;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: #5f6368;
  margin-right: 10px;
}

.searchButton:hover {
  cursor: pointer;
  border: 1px solid #c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 500px;
  text-align: center;
  line-height: 40px;
  background: #f2f2f2;
  border-top: 1px solid #dadce0;
  min-width: 400px;
}
