header {
  position: relative;
  margin: 7px 0 0 10px;
  display: block;
  font-size: 13px;
}

.links {
  text-decoration: none;
  color: black;
  opacity: 0.75;
  font-family: arial, sans-serif;
  display: inline-block;
  padding-left: 15px;
}

.links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
  padding-right: 15px;
}

.logo {
  height: 200px;
  line-height: 200px;
}

img {
  display: block;
  margin: 0 auto;
  padding-top: 47px;
  max-width: 100%;
}

footer {
  margin-top: 650px;
  text-align: center;
  line-height: 40px;
  background: #f2f2f2;
  border-top: 1px solid #dadce0;
  min-width: 400px;
}
